#obvious
[submodule "private"]
	path = private
	url = https://github.com/Shoshta73/private-dots

# semi obvious
[submodule "install-scripts"]
	path = install-scripts
	url = https://github.com/Shoshta73/install-scripts

# alacritty themes
[submodule "terminal/alacritty/themes"]
	path = terminal/alacritty/themes
	url = https://github.com/Shoshta73/alacritty-theme.git

# Catppuchin colorschemes
[submodule "editors/helix/thirdparty/catppuchin"]
	path = editors/helix/thirdparty/catppuchin
	url = https://github.com/catppuccin/helix.git
[submodule "editors/micro/colorschemes/catppuchin"]
	path = editors/micro/colorschemes/catppuchin
	url = https://github.com/catppuccin/micro.git

[submodule "editors/lite-xl/libraries/widget"]
	path = editors/lite-xl/libraries/widget
	url = https://github.com/lite-xl/lite-xl-widgets
[submodule "editors/lite-xl/plugins/lsp"]
	path = editors/lite-xl/plugins/lsp
	url = https://github.com/lite-xl/lite-xl-lsp
[submodule "editors/lite-xl/plugins/lintplus"]
	path = editors/lite-xl/plugins/lintplus
	url = https://github.com/liquidev/lintplus


# new structure
[submodule "home/.bash_it"]
	path = home/.bash_it
	url = https://github.com/Shoshta73/bash-it.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/Shoshta73/alacritty-theme.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Shoshta73/AstroNvim
