[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	email = sostaric.borna@hotmail.com
	name = Shoshta73
	signingkey = 442D9F93E162E650

[commit]
	gpgsign = true

[core]
	editor = nvim
	autocrlf = false
	pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[gpg]
	program = gpg

[init]
	defaultBranch = main

[merge]
	conflictstyle = diff3

[diff]
  # tool = code
  tool = meld
  # tool = kommitdiff
  colorMoved = default

[difftool]
  prompt = false

[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[difftool "kommitdiff"]
	cmd = kommitdiff $LOCAL $REMOTE

[difftool "meld"]
  cmd = meld $LOCAL $REMOTE

[pull]
	rebase = true

[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential

[push]
	autoSetupRemote = true

[credential "https://gitlab.com"]
	username = Shoshta73
	helper = !/usr/bin/glab auth git-credential

[credential "https://gitea.com"]
	username = Shoshta73

[credential "https://codeberg.org"]
	username = Shoshta73

[safe]
	directory = /opt/flutter
[fetch]
	prune = true
